.active {
  color: green;
  font-weight: bold;
  text-align: center;
}

.inactive {
  color: red;
  font-weight: bold;
  text-align: center;
}

.sub-title {
  padding-top: 20px;
}

.popup-detail {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr) 75px 50px;
  gap: 5px;
  margin: 0 10px;
}

.popup-detail .fullname {
  grid-column: 1 / span 3;
  grid-column-start: 1;
  grid-row-start: 1;
}

.popup-detail .username {
  grid-column: 1 / span 3;
  grid-column-start: 1;
  grid-row-start: 2;
}

.popup-detail .email {
  grid-column: 1 / span 3;
  grid-column-start: 4;
  grid-row-start: 2;
}

.popup-detail .date {
  grid-column: 1 / span 3;
  grid-column-start: 1;
  grid-row-start: 3;
}

.popup-detail .gender {
  grid-column: 1 / span 3;
  grid-column-start: 4;
  grid-row-start: 3;
}

.popup-detail .address {
  grid-column: 1 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
}

.popup-detail .phone {
  grid-column: 1 / span 3;
  grid-column-start: 4;
  grid-row-start: 4;
}

.popup-detail .avatar {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  grid-column-start: 7;
  grid-row-start: 1;
  grid-row-end: 5;
  display: grid;
}

.popup-detail .avatar img {
  border-radius: 50%;
  margin: 10px;
}

.popup-detail .role-status {
  grid-column: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}
::ng-deep .p-message {
  margin-top: 10px !important;
}
.popup-detail .gg {
  grid-column: span 3 / span 3;
  grid-row-start: 5;
}

.popup-detail .fb {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 5;
}

.popup-detail .action-btn {
  grid-column: span 8 / span 8;
  grid-row-start: 6;
}

.popup-detail input {
  width: 300px;
}

.popup-detail .popup-cell {
  padding: 10px;
}

.social-login {
  display: flex;
  gap: 1rem;
}
::ng-deep .google-btn {
  background-color: #db4437 !important;
  border: none;
  color: white;

  &:hover {
    background-color: #c23321;
  }
}

::ng-deep .facebook-btn {
  background-color: #4267b2 !important;
  border: none;
  color: white;

  &:hover {
    background-color: #37589b;
  }
}

.popup-cell {
  padding: 5px;
}

.popup-cell p-select {
  width: 200px;
}

.popup-avatar{
  display: block;
}