<div class="bg">
  <div class="container">
    <div class="dialog">
      <div class="title">Đăng ký tài khoản</div>
      <div class="popup-create-user">
        <form action method="post" [formGroup]="signUpForm">
          <div class="popup-create-user-cell username">
            <p-floatlabel variant="in">
              <input
                #emailInput
                pInputText
                id="input_username"
                formControlName="username"
                autocomplete="off"
              />
              <label for="input_username">Tên đăng nhập</label>
            </p-floatlabel>
            <div class="errMsg-area">
              <div
                class="errMsg"
                *ngIf="
                  signUpForm['controls']['username'].touched &&
                  signUpForm['controls']['username'].errors
                "
              >
                <small
                  *ngIf="signUpForm['controls']['username'].errors['required']"
                  >Nhập tên đăng nhập.</small
                >
                <small
                  *ngIf="signUpForm['controls']['username'].errors['minlength']"
                  >Tên đăng nhập tối thiểu 5 ký tự.</small
                >
                <small
                  *ngIf="signUpForm['controls']['username'].errors['maxlength']"
                  >Tên đăng nhập tối đa 40 ký tự</small
                >
              </div>
            </div>
          </div>
          <div class="popup-create-user-cell email">
            <p-floatlabel variant="in">
              <input
                #emailInput
                pInputText
                id="input_email"
                formControlName="email"
                autocomplete="off"
              />
              <label for="input_email">Email</label>
            </p-floatlabel>
            <div class="errMsg-area">
              <div
                class="errMsg"
                *ngIf="
                  signUpForm['controls']['email'].touched &&
                  signUpForm['controls']['email'].errors
                "
              >
                <small
                  *ngIf="signUpForm['controls']['email'].errors['required']"
                  >Nhập email.</small
                >
                <small *ngIf="signUpForm['controls']['email'].errors['email']"
                  >Nhập email đúng định dạng.</small
                >
              </div>
            </div>
          </div>
          <div class="popup-create-user-cell password">
            <p-floatlabel variant="in">
              <p-password
                formControlName="password"
                autocomplete="new-password"
                appendTo="body"
                [toggleMask]="true"
                promptLabel="Nhập mật khẩu"
                weakLabel="Độ bảo mật: Thấp"
                mediumLabel="Độ bảo mật: Trung bình"
                strongLabel="Độ bảo mật: Cao"
              >
                <ng-template #footer>
                  <p-divider />
                  <ul class="rule-password">
                    <li
                      *ngFor="let item of passwordRules"
                      [ngClass]="
                        !passwordErrors.hasOwnProperty(item.settingKey) &&
                        !passwordTouched
                          ? ''
                          : passwordErrors[item.settingKey]
                          ? 'rule-password detail-fail'
                          : 'rule-password detail-pass'
                      "
                    >
                      <i
                        [ngClass]="
                          !passwordErrors.hasOwnProperty(item.settingKey) &&
                          !passwordTouched
                            ? ''
                            : passwordErrors[item.settingKey]
                            ? 'pi pi-times text-danger'
                            : 'pi pi-check text-success'
                        "
                      ></i>
                      {{ item.description }}
                    </li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="input_password">Mật khẩu</label>
            </p-floatlabel>
            <div class="errMsg-area">
              <div class="errMsg" *ngIf="!signUpForm.get('password')?.valid && passwordTouched">
                <small>Nhập mật khẩu theo quy tắc.</small>
              </div>
            </div>
          </div>
          <div class="popup-create-user-cell confirm-password">
            <p-floatlabel variant="in">
              <input
                #emailInput
                pInputText
                id="input_confirmPassword"
                formControlName="confirmPassword"
                autocomplete="off"
              />
              <label for="input_confirmPassword">Xác nhận mật khẩu</label>
            </p-floatlabel>
            <div class="errMsg-area">
              <div
                class="errMsg"
                *ngIf="signUpForm.errors?.['passwordMismatch'] || signUpForm.get('confirmPassword')?.touched"
              >
                <small>Mật khẩu nhập lại không khớp.</small>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="footer">
        <div class="btn" style="text-align: center">
          <button
            id="login-btn"
            type="submit"
            class="rounded-button"
            (click)="signup()"
            [disabled]="disableBtn"
          >
            Đăng ký
          </button>
        </div>
        <p>
          Đã có tài khoản?
          <a [routerLink]="['/login']">Đăng nhập</a>
        </p>
      </div>
    </div>
  </div>
</div>
