<div class="card">
  <p-table
    #dt2
    [value]="listUser"
    [paginator]="true"
    dataKey="id"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [globalFilterFields]="['username', 'email', 'fullName']"
    [resizableColumns]="true"
    styleClass="p-datatable-gridlines custom-list-user-table"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [filters]="filters"
    [scrollable]="true"
    scrollHeight="420px"
  >
    <ng-template #caption>
      <div class="filter">
        <div style="display: flex; margin-right: 5px">
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              [(ngModel)]="globalFilterValue"
              (input)="applyFilterGlobal($event, 'contains')"
              placeholder="Tìm kiếm"
            />
          </p-iconfield>
          <p-select
            [options]="listRole"
            optionLabel="roleName"
            optionValue="roleName"
            [(ngModel)]="selectedRole"
            placeholder="Lọc theo role"
            (onChange)="dt2.filter($event.value, 'roleName', 'equals')"
            [showClear]="true"
          ></p-select>
        </div>
        <div class="action">
          <p-button
            severity="success"
            label="Tạo user"
            (click)="createUserPopup()"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pResizableColumn style="width: 80px">Action</th>
        <th pResizableColumn style="width: 100px">Avatar</th>
        <th pResizableColumn>Username</th>
        <th pResizableColumn>Fullname</th>
        <th pResizableColumn>Email</th>
        <th pResizableColumn>Role</th>
        <th pResizableColumn style="width: 100px">Status</th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr>
        <td style="text-align: center">
          <p-menu
            #menu
            [model]="menuAccountActions"
            [popup]="true"
            appendTo="body"
          />
          <p-button
            (click)="openMenuAction($event, menu, user.userID, user.username)"
            icon="pi pi-list"
            severity="primary"
            label="Action"
          />
        </td>

        <td>
          <img
            src="{{ user.avatar }}"
            alt="avatar"
            height="50px"
            width="50px"
          />
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roleName }}</td>
        <td>
          <p-message
            severity="{{
              user.statusName === 'Kích hoạt' ? 'success' : 'error'
            }}"
            styleClass="custom-pmessage"
          >
            <span>{{ user.statusName }}</span>
          </p-message>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Chi tiết tài khoản"
  [(visible)]="displayDetail"
  [modal]="true"
  [style]="{ width: '85%', 'max-width': '1250px' }"
  (onHide)="closeDialogDetail()"
>
  <ng-template #content>
    <form action method="post" [formGroup]="detailAccountForm">
      <div *ngIf="!detailAccountForm">
        <p style="color: red">Vui lòng thử lại</p>
      </div>
      <div *ngIf="detailAccountForm">
        <div class="popup-detail">
          <div class="popup-cell userID">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="input_userID"
                formControlName="userID"
                autocomplete="off"
              />
              <label for="input_userID">UserID</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell fullname">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="input_fullname"
                formControlName="fullName"
                autocomplete="off"
              />
              <label for="input_fullname">Fullname</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell username">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="input_username"
                formControlName="username"
                autocomplete="off"
              />
              <label for="input_username">Username</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell email">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="input_email"
                formControlName="email"
                autocomplete="off"
              />
              <label for="input_email">Email</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell date">
            <p-floatlabel variant="on">
              <p-datepicker
                formControlName="dateOfBirth"
                inputId="input_date"
                showIcon
                iconDisplay="input"
                dateFormat="dd/mm/yy"
              />
              <label for="input_date">Date of birth</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell gender">
            <p-floatlabel variant="on">
              <p-select
                inputId="input_gender"
                [options]="genders"
                styleClass="w-full"
                formControlName="gender"
                optionLabel="genderName"
                optionValue="genderID"
              />
              <label for="input_gender">Gender</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell address">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="input_address"
                formControlName="address"
                autocomplete="off"
              />
              <label for="input_address">Address</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell phone">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="input_phone"
                formControlName="phoneNumber"
                autocomplete="off"
              />
              <label for="input_phone">Phone number</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell avatar">
            <img
              src="{{ detailAccountForm.value.avatar }}"
              alt="Image"
              width="150px"
              height="150px"
            />
            <!-- <p-fileupload #fileUpload mode="basic" chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000" 
              (onSelect)="selectAvatar($event)" chooseLabel="Chọn ảnh"/> -->
            <p-button label="Thay thế" (onClick)="changeAvatar()"></p-button>
          </div>

          <div class="popup-cell detail-info">
            <div class="create">
              <p-message severity="success" styleClass="custom-detail-pmessage">
                Create time: {{ detailAccountForm.get("createdAt")?.value }}
              </p-message>
            </div>
            <div class="update">
              <p-message severity="success" styleClass="custom-detail-pmessage"
                >Last update: {{ detailAccountForm.value.updatedAt }}</p-message
              >
            </div>
            <div class="otp">
              <p-message
                severity="secondary"
                styleClass="custom-detail-pmessage"
                >OTP: {{ detailAccountForm.value.otp || "###" }}</p-message
              >
            </div>
            <div class="locktime">
              <p-message
                severity="warn"
                variant="outlined"
                styleClass="custom-detail-pmessage"
                >Last lock time:
                {{ detailAccountForm.value.lockTime || "-" }}</p-message
              >
            </div>
            <div class="remaintime">
              <p-message
                severity="warn"
                variant="outlined"
                styleClass="custom-detail-pmessage"
                >Remaining Login Attempts:
                {{ detailAccountForm.value.remainTime || "###" }}</p-message
              >
            </div>
          </div>
          <div class="popup-cell gg">
            Liên kết với Google:
            <p-inplace *ngIf="detailAccountForm.value.googleID; else btnGG">
              <ng-template #display>
                <span>Đã liên kết</span>
              </ng-template>
              <ng-template #content>
                <p class="m-0">
                  Google ID: {{ detailAccountForm.value.googleID }}
                </p>
              </ng-template>
            </p-inplace>
            <ng-template #btnGG>
              <div class="social-login">
                <p-button
                  label="Liên kết với Google"
                  icon="pi pi-google"
                  styleClass="p-button-rounded p-button-secondary google-btn"
                >
                </p-button>
              </div>
            </ng-template>
          </div>
          <div class="popup-cell fb">
            Liên kết với Facebook:
            <p-inplace *ngIf="detailAccountForm.value.facebookID; else btnFF">
              <ng-template #display>
                <span>Đã liên kết</span>
              </ng-template>
              <ng-template #content>
                <p class="m-0">
                  Facebook ID: {{ detailAccountForm.value.facebookID }}
                </p>
              </ng-template>
            </p-inplace>
            <ng-template #btnFF>
              <div class="social-login">
                <p-button
                  label="Liên kết với Facebook"
                  icon="pi pi-facebook"
                  styleClass="p-button-rounded p-button-secondary facebook-btn"
                >
                </p-button>
              </div>
            </ng-template>
          </div>

          <div class="popup-cell role">
            <p-floatlabel variant="on">
              <p-select
                inputId="input_role"
                [options]="roles"
                styleClass="w-full"
                formControlName="roleID"
                optionLabel="roleName"
                optionValue="roleID"
                appendTo="body"
                (onChange)="changeRole()"
              />
              <label for="input_role">Role</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell status">
            <p-floatlabel variant="on">
              <p-select
                inputId="input_status"
                [options]="status"
                styleClass="w-full"
                formControlName="status"
                optionLabel="statusName"
                optionValue="statusID"
                appendTo="body"
              />
              <label for="input_status">Status</label>
            </p-floatlabel>
          </div>
          <div class="popup-cell action-btn">
            <p-button
              label="Save"
              icon="pi pi-check"
              iconPos="right"
              (onClick)="save()"
              [disabled]="
                !detailAccountForm.dirty ||
                detailAccountForm.invalid ||
                !hasPermission('edit_users')
              "
            />
            <p-button
              label="Cancel"
              icon="pi pi-times"
              iconPos="right"
              (onClick)="closeDialogDetail()"
            />
          </div>
          <div class="popup-cell setting-btn">
            <p-button
              [disabled]="!hasPermission('delete_users')"
              label="Delete"
              icon="pi pi-trash"
              iconPos="right"
              (onClick)="deleteUser(detailAccountForm.get('userID')?.value)"
              severity="danger"
            />
            <p-button
              [disabled]="!hasPermission('view_permissions')"
              label="Phân quyền"
              icon="pi pi-shield"
              iconPos="right"
              (onClick)="
                this.displayDetail == true
                  ? userPermission(detailAccountForm.get('userID')?.value)
                  : this.displayPopupCreateUser == true
                  ? createUserPermission()
                  : null
              "
              severity="success"
            />
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>

<p-dialog
  header="Thay đổi Avatar"
  [(visible)]="displayPopupAvatar"
  [modal]="true"
  [style]="{ width: '800px', height: '600px' }"
>
  <div class="popup-avatar">
    <input type="file" (change)="fileChangeEvent($event)" />

    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="1 / 1"
      [resizeToWidth]="200"
      [roundCropper]="true"
      [output]="'base64'"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
      style="height: 400px"
    ></image-cropper>
    <p-button (click)="submitToServer()">Xác nhận</p-button>
  </div>
</p-dialog>

<p-dialog
  header="User permission"
  [(visible)]="displayPopupPermission"
  [modal]="true"
  [style]="{ width: '800px', height: '600px' }"
>
  <div class="popup-permission">
    <div class="header-overview-permission">
      <p-checkbox
        [(ngModel)]="isAllCatelorySelected"
        (onChange)="toggleAllCatelory()"
        binary="true"
        inputId="allCatelorySelected"
      >
      </p-checkbox>
      <label for="allCatelorySelected" style="margin-left: 2px"
        >Cấp tất cả loại quyền</label
      >
    </div>
    <div class="header-detail-permission">
      <div *ngIf="showDetailPermission == 1">
        <p-checkbox
          [(ngModel)]="isAllUserSelected"
          (onChange)="
            toggleAllDetail(
              permission_User,
              permission_User_Selected,
              isAllUserSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền User</label
        >
      </div>

      <div *ngIf="showDetailPermission == 2">
        <p-checkbox
          [(ngModel)]="isAllRoleSelected"
          (onChange)="
            toggleAllDetail(
              permission_Role,
              permission_Role_Selected,
              isAllRoleSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền Role</label
        >
      </div>

      <div *ngIf="showDetailPermission == 3">
        <p-checkbox
          [(ngModel)]="isAllPermissionSelected"
          (onChange)="
            toggleAllDetail(
              permission_Permission,
              permission_Permission_Selected,
              isAllPermissionSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền Phân quyền</label
        >
      </div>

      <div *ngIf="showDetailPermission == 4">
        <p-checkbox
          [(ngModel)]="isAllContentSelected"
          (onChange)="
            toggleAllDetail(
              permission_Content,
              permission_Content_Selected,
              isAllContentSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền Content</label
        >
      </div>

      <div *ngIf="showDetailPermission == 5">
        <p-checkbox
          [(ngModel)]="isAllSystemSelected"
          (onChange)="
            toggleAllDetail(
              permission_System,
              permission_System_Selected,
              isAllSystemSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền Admin</label
        >
      </div>
    </div>
    <div class="overview-permission">
      <ul class="catelory-permission">
        <li *ngFor="let item of cateloryPermission">
          <p-button
            [label]="item"
            severity="secondary"
            styleClass="catelory-permission-btn"
            (click)="getPermission(item)"
          />
        </li>
      </ul>
    </div>
    <div class="detail-permission">
      <div *ngIf="showDetailPermission == 1">
        <p-tree
          [value]="permission_User"
          selectionMode="checkbox"
          [(selection)]="permission_User_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>

      <div *ngIf="showDetailPermission == 2">
        <p-tree
          [value]="permission_Role"
          selectionMode="checkbox"
          [(selection)]="permission_Role_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>

      <div *ngIf="showDetailPermission == 3">
        <p-tree
          [value]="permission_Permission"
          selectionMode="checkbox"
          [(selection)]="permission_Permission_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>

      <div *ngIf="showDetailPermission == 4">
        <p-tree
          [value]="permission_Content"
          selectionMode="checkbox"
          [(selection)]="permission_Content_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>

      <div *ngIf="showDetailPermission == 5">
        <p-tree
          [value]="permission_System"
          selectionMode="checkbox"
          [(selection)]="permission_System_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>
      <div *ngIf="![1, 2, 3, 4, 5].includes(showDetailPermission)">
        <p-message severity="error">Không tìm thấy nội dung!</p-message>
      </div>
    </div>
    <div class="action-btn">
      <p-button
        (click)="
          this.displayDetail == true
            ? updateUserPermission()
            : this.displayPopupCreateUser == true
            ? addUserPermission()
            : null
        "
        >Xác nhận</p-button
      >
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Tạo user mới"
  [(visible)]="displayPopupCreateUser"
  [modal]="true"
  [style]="{ width: '85%' }"
  (onHide)="closeDialogCreateUser()"
>
  <ng-template #content>
    <form
      action
      method="post"
      [formGroup]="createAccountForm"
      autocomplete="off"
    >
      <div *ngIf="!createAccountForm">
        <p style="color: red">Vui lòng thử lại</p>
      </div>
      <div *ngIf="createAccountForm">
        <div class="popup-create-user">
          <div class="popup-create-user-cell userID">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="input_fullname"
                formControlName="fullName"
                autocomplete="off"
              />
              <label for="input_fullname">Fullname</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell username">
            <p-floatlabel variant="on">
              <input
                #usernameInput
                pInputText
                id="input_username"
                formControlName="username"
                autocomplete="off"
              />
              <label for="input_username">Username</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell email">
            <p-floatlabel variant="on">
              <input
                #emailInput
                pInputText
                id="input_email"
                formControlName="email"
                autocomplete="off"
              />
              <label for="input_email">Email</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell password">
            <p-floatlabel variant="on">
              <p-password
                formControlName="password"
                autocomplete="new-password"
                appendTo="body"
                [toggleMask]="true"
                promptLabel="Nhập mật khẩu"
                weakLabel="Độ bảo mật: Thấp"
                mediumLabel="Độ bảo mật: Trung bình"
                strongLabel="Độ bảo mật: Cao"
              >
                <ng-template #footer>
                  <p-divider />
                  <ul class="rule-password">
                    <li
                      *ngFor="let item of passwordRules"
                      [ngClass]="
                        !passwordErrors_createAccount.hasOwnProperty(item.settingKey) &&
                        !passwordDirtied_createAccount
                          ? ''
                          : passwordErrors_createAccount[item.settingKey]
                          ? 'rule-password detail-fail'
                          : 'rule-password detail-pass'
                      "
                    >
                      <i
                        [ngClass]="
                          !passwordErrors_createAccount.hasOwnProperty(item.settingKey) &&
                          !passwordDirtied_createAccount
                            ? ''
                            : passwordErrors_createAccount[item.settingKey]
                            ? 'pi pi-times text-danger'
                            : 'pi pi-check text-success'
                        "
                      ></i>
                      {{ item.description }}
                    </li>
                  </ul>
                </ng-template>
              </p-password>
              <label for="input_password">Password</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell date">
            <p-floatlabel variant="on">
              <p-datepicker
                formControlName="dateOfBirth"
                inputId="input_date"
                showIcon
                iconDisplay="input"
                dateFormat="dd/mm/yy"
                appendTo="body"
              />
              <label for="input_date">Date of birth</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell gender">
            <p-floatlabel variant="on">
              <p-select
                inputId="input_gender"
                [options]="listGender_Create"
                styleClass="w-full"
                formControlName="gender"
                optionLabel="genderName"
                optionValue="genderID"
              />
              <label for="input_gender">Gender</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell address">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="input_address"
                formControlName="address"
                autocomplete="off"
              />
              <label for="input_address">Address</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell phone">
            <p-floatlabel variant="on">
              <input
                pInputText
                id="input_phone"
                formControlName="phoneNumber"
                autocomplete="off"
              />
              <label for="input_phone">Phone number</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell avatar">
            <img
              [src]="
                createAccountForm.get('avatar')?.value ||
                'avatar/default-avatar.jpg'
              "
              alt="Image"
              width="150px"
              height="150px"
            />
            <p-button label="Thay thế" (onClick)="changeAvatar()"></p-button>
          </div>

          <div class="popup-create-user-cell role">
            <p-floatlabel variant="on">
              <p-select
                inputId="input_role"
                [options]="listRole_Create"
                styleClass="w-full"
                formControlName="roleID"
                optionLabel="roleName"
                optionValue="roleID"
                appendTo="body"
                (onChange)="changeRole()"
              />
              <label for="input_role">Role</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell status">
            <p-floatlabel variant="on">
              <p-select
                inputId="input_status"
                [options]="listStatus_Create"
                styleClass="w-full"
                formControlName="status"
                optionLabel="statusName"
                optionValue="statusID"
                appendTo="body"
              />
              <label for="input_status">Status</label>
            </p-floatlabel>
          </div>
          <div class="popup-create-user-cell action-btn">
            <p-button
              label="Tạo mới"
              icon="pi pi-check"
              iconPos="right"
              (onClick)="createUser()"
              [disabled]="!hasPermission('create_users')"
            />
            <p-button
              label="Cancel"
              icon="pi pi-times"
              iconPos="right"
              (onClick)="closeDialogCreateUser()"
            />
          </div>
          <div class="popup-create-user-cell setting-btn">
            <p-button
              [disabled]="!hasPermission('view_permissions')"
              label="Phân quyền"
              icon="pi pi-shield"
              iconPos="right"
              (onClick)="createUserPermission()"
              severity="success"
            />
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>

<p-dialog header="Đổi mật khẩu" [(visible)]="displayChangePassword" [modal]="true" 
[style]="{'width': '400px', 'height': '400px'}" (onHide)="closeDialogChangePassword()">
<form action="" method="post" [formGroup]="changePasswordForm">
  <div class="popup-change-password">
      <div class="user-info-cell" *ngIf="!isMe(userNameSeleted)">
        <h3>User: {{userNameSeleted}}</h3>
      </div>
      <div class="old-password-cell" *ngIf="isMe(userNameSeleted)">
        <p-floatlabel variant="in">
          <p-password
            formControlName="oldPassword"
            autocomplete="off"
            [toggleMask]="true"
            [feedback]="false"
          >
          </p-password>
          <label for="input_password">Mật khẩu cũ</label>
        </p-floatlabel>
        <div class="errMsg-area">
          <div
            class="errMsg"
            *ngIf="
              changePasswordForm['controls']['oldPassword'].touched &&
              changePasswordForm['controls']['oldPassword'].errors
            "
          >
            <small
              *ngIf="changePasswordForm['controls']['oldPassword'].errors['required']"
              >Nhập mật khẩu.</small
            >
          </div>
        </div>
      </div>
      <div class="new-password-cell">
        <p-floatlabel variant="on">
          <p-password
            formControlName="newPassword"
            autocomplete="off"
            appendTo="body"
            [toggleMask]="true"
            promptLabel="Nhập mật khẩu"
            weakLabel="Độ bảo mật: Thấp"
            mediumLabel="Độ bảo mật: Trung bình"
            strongLabel="Độ bảo mật: Cao"
          >
            <ng-template #footer>
              <p-divider />
              <ul class="rule-password">
                <li
                  *ngFor="let item of passwordRules"
                  [ngClass]="
                    !passwordErrors_changePassword.hasOwnProperty(item.settingKey) &&
                    !passwordDirtied_changePassword
                      ? ''
                      : passwordErrors_changePassword[item.settingKey] == false
                      ? 'rule-password detail-pass'
                      : 'rule-password detail-fail'
                  "
                >
                  <i
                    [ngClass]="
                      !passwordErrors_changePassword.hasOwnProperty(item.settingKey) &&
                      !passwordDirtied_changePassword
                        ? ''
                        : passwordErrors_changePassword[item.settingKey]
                        ? 'pi pi-times text-danger'
                        : 'pi pi-check text-success'
                    "
                  ></i>
                  {{ item.description }}
                </li>
              </ul>
            </ng-template>
          </p-password>
          <label for="input_password">Mật khẩu mới</label>
        </p-floatlabel>
        <div class="errMsg-area">
          <div class="errMsg" *ngIf="!changePasswordForm.get('newPassword')?.valid && passwordDirtied_changePassword">
            <small>Nhập mật khẩu theo quy tắc.</small>
          </div>
        </div>
      </div>
      <div class="confirm-password-cell">
        <p-floatlabel variant="in">
          <p-password
            formControlName="confirmNewPassword"
            autocomplete="off"
            [toggleMask]="true"
            [feedback]="false"
          >
          </p-password>
          <label for="input_password">Xác nhận mật khẩu</label>
        </p-floatlabel>
        <div class="errMsg-area">
          <div
            class="errMsg"
            *ngIf="changePasswordForm.errors?.['passwordMismatch'] || changePasswordForm.get('confirmNewPassword')?.touched"
          >
            <small>Mật khẩu nhập lại không khớp.</small>
          </div>
        </div>
      </div>
      <div class="action-btn-cell">
        <p-button
          label="Save"
          icon="pi pi-check"
          iconPos="right"
          (onClick)="changePassword()"
          [disabled]="
            !detailAccountForm.dirty ||
            detailAccountForm.invalid ||
            !hasPermission('edit_users')
          "
        />
        <p-button
          label="Cancel"
          icon="pi pi-times"
          iconPos="right"
          (onClick)="closeDialogChangePassword()"
        />
      </div>
    </div>
  </form>
</p-dialog>
