:host ::ng-deep .custom-list-user-table td,
:host ::ng-deep .custom-list-user-table th {
  border-bottom: 1px solid rgb(226, 232, 240) !important;
  border-right: 1px solid rgb(226, 232, 240) !important;
}
:host ::ng-deep .custom-list-user-table th {
  background-color: var(--p-surface-300);
  text-align: center;
}
:host::ng-deep .custom-pmessage span {
  justify-items: center !important;
  text-align: center !important;
}

.filter {
  display: flex;
  margin: 5px;
  justify-content:space-between;
}
::ng-deep .filter p-select {
  margin-left: 10px;
}

.filter .action{
  justify-self: flex-end;
}

.active {
  color: green;
  font-weight: bold;
  text-align: center;
}

.inactive {
  color: red;
  font-weight: bold;
  text-align: center;
}

.sub-title {
  padding-top: 20px;
}

.popup-detail {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
  width: 1200px;
  max-height: 500px;
}

.popup-detail .userID {
  grid-column: span 3 / span 3;
  grid-row-start: 1;
}

.popup-detail .fullname {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 1;
}

.popup-detail .username {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 2;
}

.popup-detail .email {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 2;
}

.popup-detail .date {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 3;
}

.popup-detail .gender {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 3;
}

.popup-detail .address {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
}

.popup-detail .phone {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 4;
}

.popup-detail .avatar {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.popup-detail .avatar img {
  border-radius: 50%;
}

::ng-deep .popup-detail .avatar p-button {
  margin: 10px !important;
}

.popup-detail .detail-info {
  grid-column: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}
::ng-deep .custom-detail-pmessage {
  margin-bottom: 10px;
}

.popup-detail .gg {
  grid-column: 1 / span 3;
  grid-row-start: 5;
  height: 80px;
}
.popup-detail .fb {
  grid-column: 1 / span 3;
  grid-row-start: 6;
  height: 80px;
}

.popup-detail .role {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 5;
}

.popup-detail .status {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 6;
  grid-row-end: 7;
}

.popup-detail .setting-btn {
  grid-column: 1 / span 4;
  grid-row-start: 7;
  grid-row-end: 8;
  margin-left: 20px;
}

.popup-detail .action-btn {
  grid-column: 1 / span 4;
  grid-column-start: 5;
  grid-row-start: 7;
  grid-row-end: 8;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

::ng-deep .popup-detail .action-btn p-button{
  margin-right: 5px;
}
::ng-deep .popup-detail .setting-btn p-button{
  margin-right: 5px;
}

.popup-detail input {
  width: 350px;
}

.popup-detail .popup-cell {
  padding: 10px;
}

.social-login {
  display: flex;
  gap: 1rem;
}
::ng-deep .google-btn {
  background-color: #db4437 !important;
  border: none;
  color: white;

  &:hover {
    background-color: #c23321;
  }
}

::ng-deep .facebook-btn {
  background-color: #4267b2 !important;
  border: none;
  color: white;

  &:hover {
    background-color: #37589b;
  }
}

.popup-cell {
  padding: 5px;
}

.popup-cell p-select {
  width: 200px;
}

.popup-permission{
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  overflow-y: auto;
  display: grid;
  gap: 50px;
}

.overview-permission{
  border-right: 1px solid var(--p-surface-300);
}
.overview-permission ul li{
  list-style-type: none;
  padding: 2px;
  margin-right: 20px;
}
::ng-deep .overview-permission .catelory-permission-btn{
  width: 100% !important;
}

.detail-permission{
  overflow-y: auto;
  height: 320px;
}

.popup-create-user {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
  width: 1200;
  max-height: 500px;
}

.popup-create-user .userID {
  grid-column: span 3 / span 3;
  grid-row-start: 1;
}

.popup-create-user .fullname {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 1;
}

.popup-create-user .username {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 2;
}

.popup-create-user .email {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 1;
}
.popup-create-user .password {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 2;
}

.rule-password {
  padding-left: 0.2rem;   /* pl-2 */
  margin-left: 0.2rem;    /* ml-2 */
  margin-top: 0rem;       /* my-0 = mt-0 + mb-0 */
  margin-bottom: 0rem;
  line-height: 1.5;       /* leading-normal */
  list-style-type: none;
}
.rule-password li{
  list-style-type: none !important;
}

.rule-password .detail-pass{
   color: green !important;
}

.rule-password .detail-fail{
  color: red !important;
  font-weight: 500;
}

.popup-create-user .date {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 3;
}

.popup-create-user .gender {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 3;
}

.popup-create-user .address {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 4;
}

.popup-create-user .phone {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 4;
}

.popup-create-user .avatar {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: end;
}

.popup-create-user .avatar img {
  border-radius: 50%;
}

::ng-deep .popup-create-user .avatar p-button {
  margin: 10px !important;
}

.popup-create-user .gg {
  grid-column: 1 / span 3;
  grid-row-start: 5;
  height: 80px;
}
.popup-create-user .fb {
  grid-column: 1 / span 3;
  grid-row-start: 6;
  height: 80px;
}

.popup-create-user .role {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 5;
}

.popup-create-user .status {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-row-end: 6;
}

.popup-create-user .setting-btn {
  grid-column: 1 / span 4;
  grid-row-start: 7;
  grid-row-end: 8;
  margin-left: 20px;
}

.popup-create-user .action-btn {
  grid-column: 1 / span 4;
  grid-column-start: 5;
  grid-row-start: 7;
  grid-row-end: 8;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

::ng-deep .popup-create-user .action-btn p-button{
  margin-right: 5px;
}
::ng-deep .popup-create-user .setting-btn p-button{
  margin-right: 5px;
}

::ng-deep .popup-create-user-cell input {
  width: 350px !important;
}


.popup-create-user {
  padding: 10px;
}

.social-login {
  display: flex;
  gap: 1rem;
}

.popup-create-user-cell p-select {
  width: 200px;
}

.popup-permission{
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  overflow-y: auto;
  display: grid;
  gap: 50px;
}

.popup-change-password{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 1fr);
}

::ng-deep .popup-change-password input{
  width: 350px;
  height: 50px;
}

.popup-change-password .user-info-cell{
  grid-row-start: 1;
  grid-row-end: 2;
}
.popup-change-password .old-password-cell{
  grid-row-start: 1;
  grid-row-end: 2;
}
.popup-change-password .new-password-cell{
  grid-row-start: 2;
  grid-row-end: 3;
}
.popup-change-password .confirm-password-cell{
  grid-row-start: 3;
  grid-row-end: 4;
}
.popup-change-password .action-btn-cell{
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.errMsg-area {
  min-height: 25px;
  height: auto;
}
.errMsg {
  color: red;
  font-weight: 400;
  width: 350px;
  padding-left: 12px;
  padding-bottom: 10px;
}