<div class="parent">
  <div class="menu">
    <div class="logo">
      <img src="favicon.ico" />
      <i class="pi pi-bars" style="font-size: 1.5rem"></i>
    </div>
    <div class="catelory">
      <table>
        <tbody>
          <tr (click)="goToPage('/dashboard', '')">
            <td>Trang chủ</td>
            <td><i class="pi pi-home" style="font-size: 1.5rem"></i></td>
          </tr>
          <tr  id="menu1">
            <td>Quản lý tài khoản</td>
            <td><i class="pi pi-users" style="font-size: 1.5rem"></i></td>
            <ul id="menu2">
              <li (click)="goToPage('/list-accounts', 'view_users')">
                  Danh sách tài khoản
              </li>
              <li (click)="goToPage('/my-account', '')">
                  Thông tin cá nhân
              </li>
          </ul>
          </tr>
          <tr (click)="goToPage('/setting', '')">
            <td>Cài đặt</td>
            <td><i class="pi pi-cog" style="font-size: 1.5rem"></i></td>
          </tr>
          <tr (click)="goToPage('/log', 'view_logs')">
              <td>Nhật ký hệ thống</td>
              <td>
                <i class="pi pi-address-book" style="font-size: 1.5rem"></i>
              </td>   
          </tr>
        </tbody>
      </table>
    </div>
    <div class="foot-menu">
      <p-button label="Đăng xuất" severity="danger" (click)="Logout()"/>
    </div>
  </div>
  <div class="nav">
    <div class="welcome">
      Welcome,
      <br />
      <b>{{ username }}</b>
    </div>
    <div class="search">
      <div class="input-group w-100">
        <input
          type="text"
          class="form-control rounded-start"
          placeholder="Tìm kiếm..."
        />
        <button class="btn rounded-end btn-secondary">
          <i class="pi pi-search"></i>
        </button>
      </div>
    </div>
    <div class="notice">
      <i class="pi pi-bell" style="font-size: 1.5rem"></i>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
