<div class="bg">
  <div class="container">
    <div class="login">
      <div class="title">Đăng nhập tài khoản</div>

      <div class="body">
        <form
          action
          method="post"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
        >
          <div class="username-cell">
            <p-floatlabel variant="in">
              <input
                #emailInput
                pInputText
                id="input_username"
                formControlName="UsernameOrEmail"
                autocomplete="off"
              />
              <label for="input_username">Tên đăng nhập</label>
            </p-floatlabel>
            <div class="errMsg-area">
              <div
                class="errMsg"
                *ngIf="
                  loginForm['controls']['UsernameOrEmail'].touched &&
                  loginForm['controls']['UsernameOrEmail'].errors
                "
              >
                <small
                  *ngIf="
                    loginForm['controls']['UsernameOrEmail'].errors['required']
                  "
                  >Nhập tên đăng nhập.</small
                >
                <small
                  *ngIf="
                    loginForm['controls']['UsernameOrEmail'].errors['minlength']
                  "
                  >Tên đăng nhập tối thiểu 5 ký tự.</small
                >
                <small
                  *ngIf="
                    loginForm['controls']['UsernameOrEmail'].errors['maxlength']
                  "
                  >Tên đăng nhập tối đa 40 ký tự</small
                >
              </div>
            </div>
          </div>
          <div class="password-cell">
            <p-floatlabel variant="in">
              <p-password
                formControlName="password"
                autocomplete="new-password"
                [toggleMask]="true"
                [feedback]="false"
              >
              </p-password>
              <label for="input_password">Mật khẩu</label>
            </p-floatlabel>
            <div class="errMsg-area">
              <div
                class="errMsg"
                *ngIf="
                  loginForm['controls']['password'].touched &&
                  loginForm['controls']['password'].errors
                "
              >
                <small
                  *ngIf="loginForm['controls']['password'].errors['required']"
                  >Nhập mật khẩu.</small
                >
              </div>
            </div>
          </div>
          <div class="remember-me-cell">
            <input
              type="checkbox"
              formControlName="rememberMe"
              name="rememberMe"
              id="rememberMe"
            />
            <label class="rememberMe" for="rememberMe">
              Ghi nhớ đăng nhập
            </label>
          </div>

          <div class="captcha-cell">
            <p-inputgroup class="w-full md:!w-[30rem]">
              <input
                id="inputCaptcha"
                type="text"
                pInputText
                formControlName="Captcha"
                placeholder="Nhập CAPTCHA..."
                style="padding: 5px"
              />
              <p-inputgroup-addon>
                <img
                  [src]="captchaImage"
                  alt="Captcha"
                  class="image-captcha"
                />
              </p-inputgroup-addon>
              <p-inputgroup-addon id="btn-regen">
                 <i  class="pi pi-undo" (click)="loadCaptcha()"></i>
              </p-inputgroup-addon>
            </p-inputgroup>
            <div class="errMsg-area">
              <div
                class="errMsg"
                *ngIf="
                  loginForm['controls']['Captcha'].touched &&
                  loginForm['controls']['Captcha'].errors
                "
              >
                <small
                  *ngIf="loginForm['controls']['Captcha'].errors['required']"
                  >Nhập Captcha.</small
                >
              </div>
            </div>
          </div>

          <div class="btn-cell">
            <button
              id="login-btn"
              type="submit"
              class="rounded-button"
              [disabled]="disableLoginBtn"
            >
              Đăng nhập
            </button>
          </div>
        </form>
      </div>

      <div class="social">
        <p>
          Chưa có tài khoản?
          <a [routerLink]="['/sign-up']">Đăng ký tài khoản mới</a>
        </p>
        <p style="margin-top: 5px">
          Quên mật khẩu?
          <a [routerLink]="['/forgot']">Lấy lại mật khẩu</a>
        </p>
        <p style="margin-top: 15px">Hoặc đăng nhập bằng</p>
        <div class="btn-social">
          <div
            id="g_id_onload"
            data-client_id="229505907553-3elspp0steq01qbnr3tjbo6mm71jip5i.apps.googleusercontent.com"
            data-callback="handleCredentialResponse"
            data-login_uri="https://localhost:4200/login"
            data-auto_prompt="false"
            data-use_fedcm_for_prompt="true"
          ></div>
          <div
            class="g_id_signin social-btn"
            data-type="icon"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="circle"
            data-logo_alignment="left"
          ></div>
          <button class="btn-fb social-btn" (click)="loginWithFacebook()">
            <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
