<div class="bg">
  <div class="container">
    <div class="login">
      <div>
        <div class="title">Đăng nhập tài khoản</div>

        <form action method="post" [formGroup]="loginForm" class="form-login">
          <table class="formLogin">
            <tbody>
              <tr></tr>
              <tr style="height: 50px">
                <td>
                  <input
                    type="text"
                    id="UsernameOrEmail"
                    formControlName="UsernameOrEmail"
                    placeholder="Tên đăng nhập"
                  />
                  <div
                    class="errMsg"
                    *ngIf="
                      loginForm['controls']['UsernameOrEmail'].dirty &&
                      loginForm['controls']['UsernameOrEmail'].errors
                    "
                  >
                    <small
                      *ngIf="
                        loginForm['controls']['UsernameOrEmail'].errors[
                          'required'
                        ]
                      "
                      >Nhập tên đăng nhập.</small
                    >
                    <small
                      *ngIf="
                        loginForm['controls']['UsernameOrEmail'].errors[
                          'minlength'
                        ]
                      "
                      >Tên đăng nhập tối thiểu 5 ký tự.</small
                    >
                    <small
                      *ngIf="
                        loginForm['controls']['UsernameOrEmail'].errors[
                          'maxlength'
                        ]
                      "
                      >Tên đăng nhập tối thiểu 40 ký tự</small
                    >
                  </div>
                </td>
              </tr>

              <tr style="height: 50px">
                <td>
                  <input
                    type="password"
                    id="password"
                    formControlName="password"
                    placeholder="Mật khẩu"
                  />
                  <div
                    class="errMsg"
                    *ngIf="
                      loginForm['controls']['password'].dirty &&
                      loginForm['controls']['password'].errors
                    "
                  >
                    <small
                      *ngIf="
                        loginForm['controls']['password'].errors['required']
                      "
                      >Nhập mật khẩu.</small
                    >
                    <small
                      *ngIf="
                        loginForm['controls']['password'].errors['minlength']
                      "
                      >Mật khẩu tối thiểu 6 ký tự.</small
                    >
                  </div>
                </td>
              </tr>
              <tr style="height: 23px">
                <td>
                  <input
                    type="checkbox"
                    formControlName="rememberMe"
                    name="rememberMe"
                    id="rememberMe"
                  />
                  <label class="rememberMe" for="rememberMe">
                    Ghi nhớ đăng nhập
                  </label>
                </td>
              </tr>
              <tr style="height: 80px">
                <div
                  class="g-recaptcha"
                  data-sitekey="6Le83QQrAAAAALhsRbqrCJVGkM4U1kt-eLirmyM0 "
                  style="padding-left: 5px"
                ></div>
              </tr>
              <tr style="height: 56px">
                <td>
                  <div class="btn">
                    <button
                      id="login-btn"
                      type="submit"
                      class="rounded-button"
                      (click)="login()"
                      [disabled]="disableLoginBtn"
                    >
                      Đăng nhập
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </form>

        <div class="social">
          <p>
            Chưa có tài khoản?
            <a [routerLink]="['/sign-up']">Đăng ký tài khoản mới</a>
          </p>
          <p style="margin-top: 5px">
            Quên mật khẩu?
            <a [routerLink]="['/forgot']">Lấy lại mật khẩu</a>
          </p>
          <p style="margin-top: 15px">Hoặc đăng nhập bằng</p>
          <div class="btn-social">
            <!-- <button class="btn-gg social-btn" (click)="loginWithGoogle()">
              <i class="pi pi-google" style="font-size: 1.5rem"></i>
            </button> -->
            <div
              id="g_id_onload"
              data-client_id="229505907553-3elspp0steq01qbnr3tjbo6mm71jip5i.apps.googleusercontent.com"
              data-callback="handleCredentialResponse"
              data-login_uri="https://localhost:4200/login"
              data-auto_prompt="false"
              data-use_fedcm_for_prompt="true"
            ></div>
            <div
              class="g_id_signin social-btn"
              data-type="icon"
              data-size="large"
              data-theme="outline"
              data-text="sign_in_with"
              data-shape="circle"
              data-logo_alignment="left"
            ></div>
            <button class="btn-fb social-btn" (click)="loginWithFacebook()">
              <i class="pi pi-facebook" style="font-size: 1.5rem"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <button mat-button (click)="showOkPopup()">Hiển thị Popup OK</button>
<button mat-button (click)="showYesNoPopup()">Hiển thị Popup Yes/No</button> -->
  </div>
</div>
