* {
  padding: 0;
  margin: 0;
}

.bg {
  background-image: url("/images/login-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  font-family: system-ui;
  font-optical-sizing: auto;
}

.container .login {
  background-color: white;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 90px auto 220px;

  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3); /* Màu trắng trong suốt */
  backdrop-filter: blur(10px); /* Hiệu ứng mờ nền phía sau */
  border-radius: 10px; /* Bo góc */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  height: 600px;
  width: 500px;
}

.container .login .title {
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-top: 20px;
}

.login .body {
  grid-row-start: 2;
  grid-row-end: 3;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(1, auto);
  gap: 10px;
}

::ng-deep .body .username-cell input {
  width: 350px !important;
  height: 50px;
  padding-left: 12px;
  padding-bottom: 10px;
  
}

::ng-deep .body .password-cell input {
  width: 350px !important;
  height: 50px;
}

.body .username-cell {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.body .password-cell {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.body .remember-me-cell {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 70px;
}

.body .remember-me-cell input {
  height: 15px;
  width: 15px;
}
.rememberMe {
  font-size: 16px;
  text-align: center;
  padding-left: 5px;
}

.body .captcha-cell {
  grid-row-start: 3;
  grid-row-end: 4;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 15px;
}

::ng-deep .body .captcha-cell input {
  
  height: 62px !important;
}

::ng-deep .body .image-captcha img{
  max-height: 60px !important;
  max-width: 130px !important;
  border: 1px solid #ccc;
}
::ng-deep .body .captcha-cell p-inputgroup-addon{
padding: 0;
}

.body #btn-regen:hover{
  background-color: var(--p-surface-200);
}

.body .btn-cell{
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
}

.rounded-button {
  background-color: #6a0dad;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}

.rounded-button:hover {
  background-color: #8a2be2;
  justify-self: center;
  padding-right: 30px;
  padding-left: 30px;
}
.rounded-button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.errMsg-area {
  min-height: 15px;
  height: auto;
}
.errMsg {
  color: red;
  font-weight: 400;
  width: 350px;
  padding-left: 12px;
  padding-bottom: 5px;
}

.social {
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-items: center;
  padding-top: 15px;
}

.btn-gg {
  background-color: #db4437;
  border: none;
  color: white;
}

.btn-fb {
  background-color: #1877f2;
  border: none;
  color: white;
}
.btn-social {
  display: inline-flex;
}
.social-btn {
  width: 40px; /* Điều chỉnh kích thước */
  height: 40px;
  border-radius: 50%; /* Bo tròn */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* Kích thước icon */
  border: none;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  margin: 5px;
}

.btn-gg:hover {
  background-color: #fc0101;
}

.btn-fb:hover {
  background-color: #3c8af8;
}

.social-btn:active {
  transform: scale(0.9); /* Nhấn xuống một chút */
}
