<div class="bg">
  <div class="container">
    <div class="validate">
      <div class="title">Nhập mã khôi phục</div>
      <form action method="post" [formGroup]="newPwForm">
        <table class="formNewP">
          <tbody>
            <tr>
              <td>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  placeholder="Mật khẩu mới"
                />
                <div
                  class="errMsg"
                  *ngIf="
                    newPwForm['controls']['password'].dirty &&
                    newPwForm['controls']['password'].errors
                  "
                >
                  <small
                    *ngIf="newPwForm['controls']['password'].errors['required']"
                    >Nhập mật khẩu.</small
                  >
                  <small
                    *ngIf="
                      newPwForm['controls']['password'].errors['minlength']
                    "
                    >Mật khẩu tối thiểu 6 ký tự.</small
                  >
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="password"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="Nhập lại mật khẩu"
                />
                <div
                  class="errMsg"
                  *ngIf="newPwForm.errors?.['passwordMismatch'] && newPwForm.get('confirmPassword')?.touched"
                >
                  <small>Mật khẩu nhập lại không khớp.</small>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="btn">
                  <button
                    type="submit"
                    class="rounded-button"
                    (click)="onSubmit()"
                    [disabled]="disableBtn"
                  >
                    Xác nhận
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
