<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Cài đặt mật khẩu</p-tab>
      <p-tab value="1">Cài đặt vai trò</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <form action="" method="post" [formGroup]="SettingPasswordForm">
          <div class="tab-password">
            <div class="title">
              <h2>Cài đặt mật khẩu</h2>
            </div>
            <div class="content">
              <p>Độ dài tối thiểu của mật khẩu:</p>
              <p-inputnumber
                formControlName="minLength"
                mode="decimal"
                [min]="0"
              />
              <div *ngFor="let rule of rulePassword" class="detail-content">
                <p-checkbox
                  [inputId]="rule.settingKey"
                  name="group"
                  [value]="rule"
                  formControlName="selectedRule"
                />
                <label [for]="rule.settingKey"> {{ rule.description }} </label>
              </div>
            </div>
            <div class="action-btn">
              <p-button label="Save" (click)="saveSettingPassword()"></p-button>
            </div>
          </div>
        </form>
      </p-tabpanel>
      <p-tabpanel value="1">
        <div>
          <div class="card">
            <p-table
              #dt2
              [value]="roles"
              styleClass="p-datatable-gridlines custom-role-table"
              [tableStyle]="{ 'min-width': '50rem' }"
              [scrollable]="true"
              scrollHeight="360px"
              [(selection)]="selectedRoles"
              [globalFilterFields]="['roleName']"
              [paginator]="true"
              [rows]="5"
              [rowsPerPageOptions]="[5, 10, 20]"
            >
              <ng-template #caption>
                <div
                  class="action-btn"
                  style="display: flex; justify-content: space-between"
                >
                  <div class="flex">
                    <p-iconfield iconPosition="left" class="ml-auto">
                      <p-inputicon>
                        <i class="pi pi-search"></i>
                      </p-inputicon>
                      <input
                        pInputText
                        type="text"
                        (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Tìm kiếm"
                      />
                    </p-iconfield>

                    <button
                      pButton
                      type="button"
                      icon="pi pi-refresh"
                      label="Refresh"
                      severity="secondary"
                      [raised]="true"
                      (click)="refresh()"
                    ></button>
                  </div>
                  <div class="btn-delete">
                    <button
                      pButton
                      type="button"
                      icon="pi pi-plus"
                      label="New role"
                      severity="success"
                      [raised]="true"             
                      (click)="showCreateRoleForm()"
                    ></button>
                    <button
                      pButton
                      type="button"
                      icon="pi pi-times"
                      label="Delete"
                      severity="danger"
                      [raised]="true"
                      (click)="handleDeleteRoles()"
                    ></button>
                  </div>
                </div>
              </ng-template>
              <ng-template #header>
                <tr>
                  <th pFrozenColumn style="width: 4rem">
                    <p-tableHeaderCheckbox />
                  </th>
                  <th pFrozenColumn>Role</th>
                  <th>Mô tả</th>
                  <th>Ngày tạo</th>
                  <th>Ngày sửa</th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template #body let-role>
                <tr>
                  <td pFrozenColumn><p-tableCheckbox [value]="role" /></td>
                  <td pFrozenColumn>{{ role.roleName }}</td>
                  <td>{{ role.description }}</td>
                  <td>{{ role.createdAt }}</td>
                  <td>{{ role.updatedAt }}</td>
                  <td>
                    <p-button *ngIf="role.roleID != 1" label="Edit" icon="pi pi-pencil" [raised]="true" 
                    severity="secondary" (click) = "showDialogUpdateRole(role.roleID)"></p-button>
                  </td>
                </tr>
              </ng-template>
              <ng-template #emptymessage>
                <tr>
                  <td colspan="11" style="color: red; text-align: center">
                    Không có kết quả
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>

<p-dialog header="Tạo vai trò mới" [modal]="true" [(visible)]="displayDialogNewRole" [style]="{ width: '400px', height:'370px'}">
    <div class="form-new-role">
        <form action="" method="post" [formGroup]="createRoleForm">
            <div class="content">
                <p-floatlabel variant="on">
                    <input pInputText id="roleName" formControlName="roleName" autocomplete="off" />
                    <label for="roleName">Tên vai trò</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <input pInputText id="description" formControlName="description" autocomplete="off" />
                    <label for="description">Mô tả vai trò</label>
                </p-floatlabel>
                <p>Phân quyền cho role:</p>
                <p-button label="Phân quyền" icon="pi pi-shield" [raised]="true" severity="secondary" (click)="showDialogRolePermission()"></p-button>
            </div>
            <div class="action-btn">
                <p-button label="Tạo mới" [raised]="true" severity="success" [disabled]="disableBtnNewRole" (click)="handleCreateRole()"></p-button>
                <p-button label="Huỷ" [raised]="true" severity="danger" (click)="closeCreateRoleForm()"></p-button>
            </div>
        </form>
    </div>
</p-dialog>

<p-dialog header="Update role" [modal]="true" [(visible)]="displayDialogUpdateRole" [style]="{ width: '400px', height:'370px'}">
  <div class="form-new-role">
      <form action="" method="post" [formGroup]="updateRoleForm">
          <div class="content">
              <p-floatlabel variant="on">
                  <input pInputText id="roleName" formControlName="roleName" autocomplete="off" />
                  <label for="roleName">Tên vai trò</label>
              </p-floatlabel>
              <p-floatlabel variant="on">
                  <input pInputText id="description" formControlName="description" autocomplete="off" />
                  <label for="description">Mô tả vai trò</label>
              </p-floatlabel>
              <p>Phân quyền cho role:</p>
              <p-button label="Phân quyền" icon="pi pi-shield" [raised]="true" severity="secondary" (click)="showDialogRolePermission()"></p-button>
          </div>
          <div class="action-btn">
              <p-button label="Cập nhật" [raised]="true" severity="success" [disabled]="disableBtnUpdateRole" (click)="handleUpdateRole()"></p-button>
              <p-button label="Huỷ" [raised]="true" severity="danger" (click)="closeUpdateRoleForm()"></p-button>
          </div>
      </form>
  </div>
</p-dialog>

<p-dialog
  header="Phân quyền cho role"
  [(visible)]="displayPopupPermission"
  [modal]="true"
  [style]="{ width: '800px', height: '600px' }"
>
  <div class="popup-permission">
    <div class="header-overview-permission">
      <p-checkbox
        [(ngModel)]="isAllCatelorySelected"
        (onChange)="toggleAllCatelory()"
        binary="true"
        inputId="allCatelorySelected"
      >
      </p-checkbox>
      <label for="allCatelorySelected" style="margin-left: 2px"
        >Cấp tất cả loại quyền</label
      >
    </div>
    <div class="header-detail-permission">
      <div *ngIf="showDetailPermission == 1">
        <p-checkbox
          [(ngModel)]="isAllUserSelected"
          (onChange)="
            toggleAllDetail(
              permission_User,
              permission_User_Selected,
              isAllUserSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền User</label
        >
      </div>

      <div *ngIf="showDetailPermission == 2">
        <p-checkbox
          [(ngModel)]="isAllRoleSelected"
          (onChange)="
            toggleAllDetail(
              permission_Role,
              permission_Role_Selected,
              isAllRoleSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền Role</label
        >
      </div>

      <div *ngIf="showDetailPermission == 3">
        <p-checkbox
          [(ngModel)]="isAllPermissionSelected"
          (onChange)="
            toggleAllDetail(
              permission_Permission,
              permission_Permission_Selected,
              isAllPermissionSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền Phân quyền</label
        >
      </div>

      <div *ngIf="showDetailPermission == 4">
        <p-checkbox
          [(ngModel)]="isAllContentSelected"
          (onChange)="
            toggleAllDetail(
              permission_Content,
              permission_Content_Selected,
              isAllContentSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền Content</label
        >
      </div>

      <div *ngIf="showDetailPermission == 5">
        <p-checkbox
          [(ngModel)]="isAllSystemSelected"
          (onChange)="
            toggleAllDetail(
              permission_System,
              permission_System_Selected,
              isAllSystemSelected
            )
          "
          binary="true"
          inputId="allDetailSelected"
        >
        </p-checkbox>
        <label for="allDetailSelected" style="margin-left: 2px"
          >Cấp tất cả quyền Admin</label
        >
      </div>
    </div>
    <div class="overview-permission">
      <ul class="catelory-permission">
        <li *ngFor="let item of cateloryPermission">
          <p-button
            [label]="item"
            severity="secondary"
            styleClass="catelory-permission-btn"
            (click)="getPermission(item)"
          />
        </li>
      </ul>
    </div>
    <div class="detail-permission">
      <div *ngIf="showDetailPermission == 1">
        <p-tree
          [value]="permission_User"
          selectionMode="checkbox"
          [(selection)]="permission_User_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>

      <div *ngIf="showDetailPermission == 2">
        <p-tree
          [value]="permission_Role"
          selectionMode="checkbox"
          [(selection)]="permission_Role_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>

      <div *ngIf="showDetailPermission == 3">
        <p-tree
          [value]="permission_Permission"
          selectionMode="checkbox"
          [(selection)]="permission_Permission_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>

      <div *ngIf="showDetailPermission == 4">
        <p-tree
          [value]="permission_Content"
          selectionMode="checkbox"
          [(selection)]="permission_Content_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>

      <div *ngIf="showDetailPermission == 5">
        <p-tree
          [value]="permission_System"
          selectionMode="checkbox"
          [(selection)]="permission_System_Selected"
          (selectionChange)="onDetailSelectionChange(showDetailPermission)"
          [propagateSelectionUp]="true"
          [propagateSelectionDown]="true"
        >
        </p-tree>
      </div>
      <div *ngIf="![1, 2, 3, 4, 5].includes(showDetailPermission)">
        <p>Không tìm thấy nội dung!</p>
      </div>
    </div>
    <div class="action-btn">
      <p-button
        (click)="assignPermissionForRole()"
        >Xác nhận</p-button
      >
    </div>
  </div>
</p-dialog>

